/*UNIVERSAL SECTION*/


body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*ARE THE BUTTONS SAME SIZE?*/
button {
    background-color: #3882F6;
    flex-basis: 0;
}

.header,
.introduction,
.footer {
    background-color: #1F2937;
}


/*NEED CLASS FOR THESE IMAGES IN INFORMATION SECTION*/
img {
    width: 150px;
    height: 150px;
}


.content {
    display: flex;
    flex-direction: column;
    flex-direction: space-between;
    flex: 1;
}


/*HEADER SECTION*/
.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.header-logo {
    font-weight: 900;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/*INTRODUCITON SECTION*/
.introduction {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 150px;
}

.left-side-intro {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.right-side-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    background-color: gray;
    color: #E5E7EB;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro-para {
    font-size: 18px;
    color: #E5E7EB;
}

/*NEED TO ADD DESIGN TO BUTTON*/
/*ROUNDED CORNERS, FULL BLUE NO WHITE LINE*/
.intro-button {
    flex-basis: 0;
    align-self: flex-start;
}

/*INFORMATION SECTION*/
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

/*BLUE BORDER AND ROUNDED CORNERS*/
.information-images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.information-sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 150px;
    text-align: center;
}

/*ROUNDED CORNERS */
.info-image {
    border: 2px solid #3882F6;
}

/*CALL TO ACTION SECTION*/
.call-to-action {
    background-color: #3882F6;
    margin: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.call-to-action-primary {
    font-size: 24px;
    color: #F9FAF8;
}

.call-to-action-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

/*INSPIRING QUOTE SECTION*/
.inspiring-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 150px;
    /*DOUBLE CHECK PADDING ON L/R OF QUOTE*/
    padding-right: 400px;
    padding-left: 400px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quotee {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: bold;
}