body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    flex-direction: space-between;
    flex: 1;
}


/*HEADER SECTION*/
.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #F9FAF8;
}

.header-logo {
    font-weight: 900;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 18px;
}

/*INTRODUCITON SECTION*/
.introduction {
    display: flex;
    justify-content: space-between;
}

.left-side-intro {
    width: 300px;

}


/*CALL TO ACTION SECTION*/
.call-to-action {
    background-color: #3882F6;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.call-to-action-primary {
    font-size: 24px;
    color: #F9FAF8;
}

.call-to-action-secondary {
    font-size: 18px;
    color: #E5E7EB;
}




/*BLUE BORDER AND ROUNDED CORNERS need to center text as well*/
.information-images {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    gap: 10px;
}

img {
    width: 200px;
    height: 200px;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.main-content {
    flex: auto;
}

.header,
.introduction,
.footer {
    background-color: #1F2937;
}

button {
    background-color: #3882F6;

}

/*INSPIRING QUOTE SECTION*/

.inspiring-quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quotee {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}