body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-images {
    display: flex;
    justify-content: space-evenly;
}